.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Polaris-DisplayText {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

body {
  overflow: hidden;
}

small {
  color: red;
  font-weight: 600;
}
