.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

small {
  color: red;
  font-weight: 600;
}

.Polaris-Page__Content {
  padding: 33px;
}