.screen {
  height: calc(100vh - 15px);

  .Polaris-Page,
  .Polaris-Page__Content {
    height: 100%;
  }

  .Polaris-Page__Content {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    & > :first-child {
      flex-grow: 1;
      margin: 0 25px;
    }

    & > :last-child {
      position: sticky;
      bottom: 0;
    }
  }

  & > div {
    height: 100%;
  }

  .Polaris-Tabs__Title::before {
    display: none;
  }

  .Polaris-Tabs__Wrapper {
    border-top: 1px solid #9C9C9C;
    background-color: var(--p-background);
  }

  .Polaris-Tabs {
    button {
      padding: 16px 0;
    }
  }
}

.Polaris-Modal-Header {
  border-bottom: none;
}

.Polaris-Modal__Body {
  padding-left: 5rem;
  padding-right: 5rem;
}

.Polaris-Scrollable--hasTopShadow {
  box-shadow: none;

  &.Polaris-Scrollable--hasBottomShadow {
    box-shadow: none;
  }
}

.Polaris-Scrollable--hasBottomShadow {
  box-shadow: none;

  &.Polaris-Scrollable--hasTopShadow  {
    box-shadow: none;
  }
}

.Polaris-Modal-Footer {
  border-top: none;
}
