<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= javascript_pack_tag "warehouse" %>
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        const SessionToken = window["app-bridge"].actions.SessionToken
        const app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });
      });
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
